@model CricketerApplication.Models.Cricketer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cricketer</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ODI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ODI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grade)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>Team</th>
            <th>Odi Runs</th>
            <th>Test Runs</th>
            <th>Wickets</th>
        </tr>

        @foreach (var item in Model.Cricketer_Details)
        {
            <tr>
                <td>
                    @Html.DisplayFor(ModelItem => item.Team)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.ODI_Runs)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Test_Runs)
                </td>
                <td>
                    @Html.DisplayFor(ModelItem => item.Wickets)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
